.ptitre404{
    font-family: 'raleighbold';
    font-size: var(--titre-sous-article);
    text-align: left;
    color: var(--thirth-color);

}
.psoustitre404{
    font-family: 'helvetica';
    font-size: var(--titre-sous-article);
    text-align: center;
    color: var(--thirth-color);
}
.pcorps404{
    font-family: 'helvetica';
    font-size: var(--corps-frise);
    text-align: left;
    color: var(--thirth-color);
}

.pliens404{
    font-family: 'helvetica';
    font-size: 18px;
    text-align: left;
    color: var(--thirth-color);
    text-decoration: underline;
}

.margintop25{
margin-top: 25px;
}
.paddingleft20{
    padding-left: 20px;
}



input[type=text] {
    position: relative;
    width: 334px;
    height: 49px;
    left: 18px;
    background: var(--main-color);
    border-radius: 5px;
    border: none;
}

input[placeholder=text]::placeholder{
    color: var(--thirth-color);
}




button[type=submit] {
    position: relative;
    margin-top: 10px;
    width: 98px;
    height: 49px;
    left: 18px;
    background: var(--main-color);
    border-radius: 5px;
    border: none;
}

