.bg-color {
    background-color: var(--second-color);
}
.padding-top50 {
    padding-top: 50px;
}
.padding-text18 {
    padding-left: 18px;
    padding-right: 18px;
}
.padding-left18 {
    padding-left: 18px;
}
.padding-right18 {
    padding-right: 18px;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.padding-forme {
    padding-top: 18px;
    padding-bottom: 18px;
}
.margintop211 {
    margin-top: 211px;
}
.sous-ligne {
    text-decoration: underline;
}
.alignement{
    display: flex;
    align-items: center
}
.poscenter{
    justify-content: space-between;
}
.paddingtop20{
    padding-top: 20px;
}
.paddingcitation{
    padding-left: 20px;
    padding-right: 20px;
}