/* Artistes */
.bgimage1artistes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 441px;
    background-size: 100%;
    background-image: url(../../../public/img/accueil/img-accueil-1.webp);
}

.bgimage1artistes::before {
    content: url(../../../public/icons/icon_arrow-down.svg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-bottom: -358px;

}

button.artistes {
    width: 256px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 71px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--thirth-color);
    color: var(--second-color);
    font-family: 'helveticabold', sans-serif;
    font-size: var(--accueil-navigation);
    border: none;
}

button.artistes::after {
    padding-top: 1px;
    margin-left: 58px;
    content: url(../../../public/icons/icon_arrow-right.svg);
}



/* Oeuvres */

.bgimage2oeuvres {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height:  372px;
    background-size: 100%;
    background-image: url(../../../public/img/accueil/img-accueil-2.webp);
}

.bgimage2oeuvres::before {

    content: url(../../../public/icons/icon_arrow-down.svg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-bottom: -321px;
}

button.oeuvres {
    width: 256px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 51px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--thirth-color);
    color: var(--second-color);
    font-family: 'helveticabold', sans-serif;
    font-size: var(--accueil-navigation);
    border: none;
}

button.oeuvres::after {
    padding-top: 1px;
    margin-left: 58px;
    content: url(../../../public/icons/icon_arrow-right.svg);
}



/* Billetterie */

.bgimage3billetterie {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 523px;
    background-size: 100%;
    background-image: url(../../../public/img/accueil/img-accueil-3.webp);
}

button.billetterie {
    width: 245px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 38px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--thirth-color);
    color: var(--second-color);
    font-family: 'helveticabold', sans-serif;
    font-size: var(--accueil-navigation);
    border: none;
}

button.billetterie::after {
    padding-top: 1px;
    margin-left: 58px;
    content: url(../../../public/icons/icon_arrow-right.svg);
}

.bg-img-header{
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/all/bg-header.webp);
    background-size: 100%;
}

/* Carrousel */

* {
    box-sizing: border-box;
    display: flex;
    border
}

img {
    max-width: auto;
    height: auto;
}

img {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

}

.carrousel_ecran {
    width: 100%;
}

.carrousel_ecran figure {
    margin: none;
    scroll-snap-align: start
}

.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
}

.carrousel_btn-avant {
    left: 0;
}

.carrousel_btn-apres {
    right: 0;
}


.caroussel_liste-liens {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
}