.margintop10px {
    margin-top: 100px;
}

.rectangle-footer {
    width: 375px;
    height: 420px;
    background: var(--second-color);
}

.logo-centrer {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center-footer {
    text-align: center
}

.bas-footer {
    bottom: 0;
}

.mmi-logo {
    width: 10%;
    position: absolute;
    bottom: 10px;
    left: 330px;
}

.paddingtop45{
    padding-top: 45px;
}
.bottom-element-footer{
    position: absolute;
    left: 20%;
    bottom: 0;
}

.marginleft{
    margin-left: 10px;
}

.logo-rs {
    padding-top: 25px;
    margin-left: 35px;
    display: flex;
    justify-content: center;
}

.icon-mail{
    width: 40%;
    padding-right: 1px;
    padding-left: 1px;
}
.icon-insta{
    width: 40%;
    padding-right: 1px;
    padding-left: 1px;
}

.icon-facebook{
    width: 40%;
    padding-right: 1px;
    padding-left: 1px;
}