
.header-logo{
    margin-top: 40px;
}
.align-item-header{
    display: flex;
    justify-content: space-between;
}
.padding-top18{
    padding-top: 18px;
}
.icon-menu-contour{
    position: absolute;
    top: 26px;
    right: 21px;
    background-color: var(--thirth-color);
    border: none;
}
.icon-menu-barre{
    background-color: none;
    border: none;
}
