/* Ellipse Frise */
.elipse-1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 142px;
    top: 385px;
    background: var(--thirth-color);
    border-radius: 100px;
}
.elipse-2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 180px;
    top: 769px;
    background: var(--main-color);
    border-radius: 100px;
}
.elipse-3{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 144px;
    top: 1170px;
    background: var(--thirth-color);
    border-radius: 100px;
}
.elipse-4{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 180px;
    top: 1572px;
    background: var(--main-color);
    border-radius: 100px;
}



/* Trait Frise */
.trait-1{
    position: absolute;
    width: 6.5px;
    height: 249px;
    left: 145.91px;
    top: 505.97px;
    background: var(--main-color);
    border-radius: 22px;
    transform: rotate(-49.31deg);
}
.trait-2{
    position: absolute;
    width: 6.5px;
    height: 249px;
    left: 198.91px;
    top: 899.97px;
    background: var(--thirth-color);
    border-radius: 22px;
    transform: rotate(49.36deg)
}
.trait-3{
    position: absolute;
    width: 6.5px;
    height: 249px;
    left: 145.91px;
    top: 1303.97px;
    background: var(--main-color);
    border-radius: 22px;
    transform: rotate(-49.31deg);
}

/* Bouton Carrousel */

.button-right{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 304px;
    top: 1120px;
    background: var(--main-color);
}
.button-left{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 21px;
    top: 1120px;
    background: var(--main-color);
}
.arrow-left{
    position: absolute;
    left: 13.96%;
    right: 78.5%;
    top: 65.57%;
    bottom: 33.73%;
    border: 4.63355px solid var(--thirth-color);
    transform: matrix(0, -1, -1, 0, 0, 0);
}
.arrow-right{
    position: absolute;
    left: 86.13%;
    right: 6.32%;
    top: 65.57%;
    bottom: 33.73%;
    border: 4.63355px solid var(--thirth-color);
    transform: rotate(-90deg);
}

/*Formulaire*/
input {
    font-family: 'helvetica' "typewriter", sans-serif;
    font-size: var(--corps-article);
    text-align: center;
}

  input[message=name]{
    font-family: 'helvetica', sans-serif;
    font-size: var(--corps-article);
    text-align: center;
    caret-color: var(--thirth-color);
}

  input[message=mail]{
    font-family: 'helvetica', sans-serif;
    font-size: var(--corps-article);
    text-align: center;
    caret-color: var(--thirth-color);
}

  input[message=object]{
    font-family: 'helvetica', sans-serif;
    font-size: var(--corps-article);
    text-align: left;
    caret-color: var(--thirth-color);
}
  
  input[message=message]{
    font-family: 'helvetica', sans-serif;
    font-size: var(--corps-article);
    text-align: start;
    caret-color: var(--thirth-color);
}